body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#templateList {
    font-size: x-large;
    padding: 25px 0 0 25px;

}

.templateName {
    padding: 0 250px 0 0;
}

.button {
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

.button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.createNewButton {
    font-size: medium;
    vertical-align: middle;
}

#embedDialog {
    visibility: hidden;
}

#embedText {
    max-width: 650px;
    width: 650px;
    height: 175px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}