body {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0px;
    
}


.body-content {
    padding: 0px;
}

.containt {
    padding: 0px;
}